<nav>
  <div id="logo_container">
    <a href="/">
      <h1 id="logo">
        Smart Pharma
      </h1>
    </a>
    <a href="/patient/login" class="btn_bold" id="patients_button">
      Patients
    </a>
    <a href="/doctor/login" id="doctor_button" class="btn_bold" >
      Doctor
    </a>
    <a href="/pharmacist/login" id="pharmacist_button" class="btn_bold">
      Pharmacists
    </a>
    <a href="/admin/login" id="admin_button" class="btn_bold">
      Admin
    </a>
  </div>
</nav>