<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Pharma | <%= title %></title>
  <link rel="stylesheet" href="../css/patient_signup.css">
</head>
<body>

  <%- include('./partials/header') %>

  
  <script>
    <% Object.entries(errors).forEach(([key, value]) => { %>
      <% if (value) { %>
        alert('Sign Up Error: <%= value %>');
      <% } %>
    <% }); %>
  </script>


  <div id="p_login_container">
    <form action="/patient/signup" method="POST">
      <div id= "p_login_form">
        <p>Add Prescription</p>
        <label for="patient_email">Patient Email:</label><br>
        <input class="l_input" type="text" id="fname" name="patient_email"><br>
        <label for="doctor_email">Doctor Email:</label><br>
        <input class="l_input" type="text" id="lname" name="doctor_email"><br>
        <label for="symptoms">Symptoms:</label><br>
        <input class="l_input" type="text" id="lname" name="symptoms"><br>
        <label for="drug">Drug Name:</label><br>
        <input class="l_input" type="text" id="dob" name="drug"><br>
        <label for="quantity">Quantity:</label><br>
        <input class="l_input" type="text" id="username" name="quantity"><br>
        <label for="dosage">Dosage:</label><br>
        <input class="l_input" type="text" id="username" name="dosage"><br>
        <label for="start_date">Prescription Start Date:</label><br>
        <input class="l_input" type="text" id="username" name="start_date"><br>
        <label for="end_date">Prescription End Date:</label><br>
        <input class="l_input" type="text" id="username" name="end_date"><br>
        <input id="p_s_sign_up" class="l_input" type="submit" value="Add Presc">
      </div>
  </form>
  </div>
  
  <%- include('./partials/footer') %>

</body>
</html>