<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Pharma | <%= title %></title>
  <link rel="stylesheet" href="../css/patient_signup.css">
</head>
<body>

  <%- include('./partials/header') %>

  
  <script>
    <% Object.entries(errors).forEach(([key, value]) => { %>
      <% if (value) { %>
        alert('Sign Up Error: <%= value %>');
      <% } %>
    <% }); %>
  </script>


  <div id="login_container">
    <form action="/patient/signup" method="POST">
      <div id= "login_form">
        <p>SignUp Form</p>
        <label for="firstname">First name:</label><br>
        <input class="l_input" type="text" id="fname" name="firstname"><br>
        <label for="lastname">Last name:</label><br>
        <input class="l_input" type="text" id="lname" name="lastname"><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label><br>
        <label for="DOB">Date Of Birth:</label><br>
        <input class="l_input" type="text" id="dob" name="DOB" value="DD/MM/YYYY"><br>
        <label for="email">Email:</label><br>
        <input class="l_input" type="text" id="username" name="email"><br>
        <label for="password">Password:</label><br>
        <input class="l_input" type="password" id="pwd" name="password" minlength="8"><br>
        <input id="s_sign_up" class="l_input" type="submit" value="Sign Up">
      </div>
  </form>
  </div>
  
  <%- include('./partials/footer') %>

</body>
</html>