<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Pharma | <%= title %></title>
  <link rel="stylesheet" href="../css/patient_signup.css">
</head>
<body>

  <%- include('./partials/header') %>

  
  <script>
    <% Object.entries(errors).forEach(([key, value]) => { %>
      <% if (value) { %>
        alert('Sign Up Error: <%= value %>');
      <% } %>
    <% }); %>
  </script>


  <div id="dr_login_container">
    <form action="/admin/add_drug" method="POST">
      <div id= "dr_login_form">
        <p>Drug Form</p>
        <label for="drug_name">Drug name:</label><br>
        <input class="l_input" type="text" id="fname" name="drug_name"><br>
        <label for="pharma_name">Pharma name:</label><br>
        <input class="l_input" type="text" id="lname" name="pharma_name"><br>
        <label for="amount">Amount:</label><br>
        <input class="l_input" type="text" id="dob" name="amount"><br>
        <label for="price">Price::</label><br>
        <input class="l_input" type="text" id="username" name="price"><br>
        <input id="dr_s_sign_up" class="l_input" type="submit" value="Add Drug">
      </div>
  </form>
  </div>
  
  <%- include('./partials/footer') %>

</body>
</html>