<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Pharma | <%= title %></title>
  <link rel="stylesheet" href="../css/patient_signup.css">
</head>
<body>

  <%- include('./partials/header') %>

  
  <script>
    <% Object.entries(errors).forEach(([key, value]) => { %>
      <% if (value) { %>
        alert('Sign Up Error: <%= value %>');
      <% } %>
    <% }); %>
  </script>


  <div id="d_login_container">
    <form action="/admin/add_doctor" method="POST">
      <div id= "d_login_form">
        <p>Add Doctor Form</p>
        <label for="firstname">First name:</label><br>
        <input class="l_input" type="text" id="fname" name="firstname"><br>
        <label for="lastname">Last name:</label><br>
        <input class="l_input" type="text" id="lname" name="lastname"><br>
        <label for="email">Email:</label><br>
        <input class="l_input" type="text" id="username" name="email"><br>
        <label for="password">Password:</label><br>
        <input class="l_input" type="password" id="pwd" name="password" minlength="8"><br>
        <input id="d_s_sign_up" class="l_input" type="submit" value="Add Doctor">
      </div>
  </form>
  </div>
  
  <%- include('./partials/footer') %>

</body>
</html>