<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Pharma | <%= title %></title>
  <link rel="stylesheet" href="../css/patient_homepage.css">
</head>
<body>

  <%- include('./partials/header') %>

  <div id="layout">
    <div id="welcome_msg">
      <p>Welcome <% user %></p>
    </div>

    <div id="log_out">
      <a href="/patient/logout">Log Out</a>
    </div>

    <div id="symptoms">
      <a href="/patient/symptoms">Symptoms</a>
    </div>
    
    <div id="prescription">
      <a href="/patient/prescription">Prescription</a>
    </div>

  
  </div>

  <%- include('./partials/footer') %>

</body>
</html>