<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Pharma | <%= title %></title>
  <link rel="stylesheet" href="../css/patient_login.css">
</head>
<body>

  <%- include('./partials/header') %>

  <div id="login_container">
    <form action="">
      <div id= "login_form">
        <p>Pharmacist Login Form</p>
        <label for="username">Pharma Name:</label><br>
        <input class="l_input" type="text" id="l_username" name="p_username"><br>
        <label for="pwd">Password:</label><br>
        <input class="l_input"type="l_password" id="pwd" name="p_pwd" minlength="8"><br>
        <input id="pharmacist_login" type="submit" value="Log In">
      </div>
    </form>
  </div>

  <%- include('./partials/footer') %>

</body>
</html>