@import url('https://fonts.googleapis.com/css?family=Sofia');

body{
  max-width: 1200px;
  background-color:whitesmoke;
  margin: 0;
  padding: 0;
}

#logo_container{
  position: relative;
  background-color: burlywood;
  width: 1295px;
  height: 130px;
  left: -20px;
}

#logo{
  color: black;
  position: absolute;
  font-size: 380%;
  left: 40px;
  top: -30px;
  font-family: "Sofia", sans-serif;
}

.btn_bold:hover{
  font-weight:bold ;
}
a{
  color: black;
  text-decoration: none;
  font-size: medium;
}

#patients_button{
  color: black;
  position: absolute;
  font-size: 150%;
  left: 520px;
  top: 65px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#doctor_button{
  color: black;
  position: absolute;
  font-size: 150%;
  left: 720px;
  top: 65px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pharmacist_button{
  color: black;
  position: absolute;
  font-size: 150%;
  left: 900px;
  top: 65px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#admin_button{
  color: black;
  position: absolute;
  font-size: 150%;
  left: 1120px;
  top: 65px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footer_div{
  position: relative;
  width: 1262px;
}

#footer_page{
  position: absolute;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  font-size: 150%;
  top: 30px;
  left: 470px;
}

#login_container{
  position: relative;
  width: 1262px;
  height: 490px;
}

#dr_login_container{
  position: relative;
  width: 1262px;
  height: 430px;
}

#ph_login_container{
  position: relative;
  width: 1262px;
  height: 350px;
}

#d_login_container{
  position: relative;
  width: 1262px;
  height: 400px;
}

#p_login_container{
  position: relative;
  width: 1262px;
  height: 600px;
}

#login_form{
  background-color: burlywood;
  position: absolute;
  height: 465px;
  width: 300px;
  left: 490px;
  top: 20px;
  text-align: center;
}

#dr_login_form{
  background-color: burlywood;
  position: absolute;
  height: 395px;
  width: 300px;
  left: 490px;
  top: 20px;
  text-align: center;
}

#ph_login_form{
  background-color: burlywood;
  position: absolute;
  height: 335px;
  width: 300px;
  left: 490px;
  top: 20px;
  text-align: center;
}

#d_login_form{
  background-color: burlywood;
  position: absolute;
  height: 385px;
  width: 300px;
  left: 490px;
  top: 20px;
  text-align: center;
}

#p_login_form{
  background-color: burlywood;
  position: absolute;
  height: 580px;
  width: 300px;
  left: 490px;
  top: 20px;
  text-align: center;
}


#login_form{
  background-color: burlywood;
  position: absolute;
  height: 465px;
  width: 300px;
  left: 490px;
  top: 20px;
  text-align: center;
}

p{
  font-family: "Sofia", sans-serif;
  font-size: 200%;
}

label{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150%;
}

.l_input{
  background-color: whitesmoke;
  margin: 0px ;
  width: 150px;
  height: 20px;
  border: 1px solid black;
}

#s_sign_up{
  position: absolute;
  background-color: whitesmoke;
  top: 425px;
  width: 100px;
  height: 30px;
  left: 100px;
  font-size: 105%;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
  margin: 0px ;
  border: 1px solid black;
}

#dr_s_sign_up{
  position: absolute;
  background-color: whitesmoke;
  top: 355px;
  width: 100px;
  height: 30px;
  left: 100px;
  font-size: 105%;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
  margin: 0px ;
  border: 1px solid black;
}

#ph_s_sign_up{
  position: absolute;
  background-color: whitesmoke;
  top: 295px;
  width: 100px;
  height: 30px;
  left: 100px;
  font-size: 105%;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
  margin: 0px ;
  border: 1px solid black;
}

#d_s_sign_up{
  position: absolute;
  background-color: whitesmoke;
  top: 340px;
  width: 100px;
  height: 30px;
  left: 100px;
  font-size: 105%;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
  margin: 0px ;
  border: 1px solid black;
}

#p_s_sign_up{
  position: absolute;
  background-color: whitesmoke;
  top: 525px;
  width: 100px;
  height: 30px;
  left: 100px;
  font-size: 105%;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
  margin: 0px ;
  border: 1px solid black;
}
